*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-red:hsl(0, 100%, 67%);
    --light-redBG:hsla(0, 100%, 67%, 0.08);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellowBG: hsla(39, 100%, 56%, 0.08);
    --green-teal: hsl(166, 100%, 37%);
    --green-tealBG: hsla(166, 100%, 37%, 0.08);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blueBG: hsla(234, 85%, 45%, 0.08);
    --light-slateB:hsl(252, 100%, 67%);
    --light-royalB: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --lightLavenderv1: hsla(241, 100%, 89%, 0.452);
    --lightLavenderv2: hsla(241, 100%, 89%, 0.575);
    --darkGrayBlue: hsl(224, 30%, 27%);
    --darkGrayBluev1: hsla(224, 30%, 27%, 0.5);

}
@font-face {
	font-family: 'Hanken Grotesk', sans-serif;
	src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('ttf') tech('variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
html{
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__overview{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
    border-radius: 0 0 8% 8%;
    background: linear-gradient(to bottom,var(--light-slateB),var(--light-royalB));
}
.container__result{
    font-size: 1.8rem;
    color: var(--lightLavender);
}
.container__circle{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(to top,var(--persian-blue),var(--violet-blue));
}
.number-big{
    font-size: 4.6rem;
    color: var(--white);
    font-weight: 800;
}
.number-small{
    font-size: 1.2rem;
    color: var(--lightLavenderv1);
    font-weight: 800;
}
.container__performance{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
}
.container__details{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.details{
    font-size: 1.4rem;
    width: 60%;
    color: var(--lightLavenderv2);
    font-weight: 700;
}
.container__summary{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title, .list-items, .button{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    
}
.list-items{
    padding: 5px 0 5px 0;
    height: 50vh;
    justify-content: space-evenly;
}
.title{
    font-size: 1.8rem;
    font-weight: 800;
}
.container__item{
    display: flex;
    height: 50px;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    /*
    margin-left: 10px;
    margin-right: 10px;
    */
    border-radius: 8px;
    border: none;
}  
.container__item span, .container__item p{
    display: flex;
    align-items: center;
}
.container__item .divider{
    color: var(--darkGrayBluev1);
    font-weight: 800;
}
.percentage{
    display: flex;
    align-items: center;
}
.num{
    margin-right: 5px;
}
.container__item p{
    margin-right: 15px;
    color: black;
    font-weight: 700;
}
.container__item img{
    margin-right: 10px;
    margin-left: 15px;
}
.reaction{
    color: var(--light-red);
    background-color: var(--light-redBG);
}
.memory{
    color: var(--orangey-yellow);
    background-color: var(--orangey-yellowBG);
}
.verbal{
    color: var(--green-teal);
    background-color: var(--green-tealBG);
}
.visual{
    color: var(--cobalt-blue);
    background-color: var(--cobalt-blueBG);
}
.button{
    border: none;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkGrayBlue);
    color: var(--white);
}
.button:hover{
    background: linear-gradient(to bottom,var(--light-slateB),var(--light-royalB));
    cursor: pointer;
}
.atribution{
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
}